<div class="container main-container">
    <h2>Bar</h2>

    <div>
        Unidade Manual: {{ ConfigManual.unidadeId }} - Token Manual: {{ ConfigManual.unidadeToken }}<br>        
    </div>

    <div>        
        Unidade: {{ Config.unidadeId }} - Token: {{ Config.unidadeToken }}
    </div>

    <div>
        Bebidas 1: {{ barBebida1 }}
    </div>

    <div>
        Bebidas 2: {{ barBebida2 }}
    </div>

    <div>
        Dados unidade (service) {{ dadosUnidade }}
    </div>

    <br><br><br><br>

    <p>Progress: {{progress}}%</p>
    <p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>

    <a href="javascript:void(0)" class="btn btn-success" (click)="processWithinAngularZone()">Process within Angular zone</a> &nbsp;
    <a href="javascript:void(0)" class="btn btn-danger" (click)="processOutsideOfAngularZone()">Process outside of Angular zone</a>
</div>
